.managerlogin {
	width: 30%;
	height: 45%;
	top: 27.5%;
	left: 35%;
}

.managerlogin input {
height: 1.5rem;
border: 2px #576490 solid;
border-radius: 1rem;
font-size: 1.5rem;
}

.managerlogin label {
font-size: 1.5rem;
}

.managerlogin input[type="submit"] {
height: 2.2rem;
font-size: 1.5rem;
}