.usersignup {
	width: 35%;
	height: 55%;
	top: 22.5%;
	left: 32.5%;
}

.usersignup input {
height: 1.5rem;
border: 2px #576490 solid;
border-radius: 1rem;
font-size: 1.5rem;
}

.usersignup label {
font-size: 1.5rem;
}

.usersignup input[type="submit"] {
height: 2.2rem;
font-size: 1.5rem;
}