.userlogin {
		width: 30%;
		height: 50%;
		top: 25%;
		left: 35%;
}

.userlogin input {
	height: 1.5rem;
	border: 2px #576490 solid;
	border-radius: 1rem;
	font-size: 1.5rem;
}

.userlogin label {
	font-size: 1.5rem;
}

.userlogin input[type="submit"] {
	height: 2.2rem;
	font-size: 1.5rem;
}